h1 {
    text-align: center;
    font-family: Oswald;
}

.container{
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.marker{
    width: 400px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcap{
    width: 80px;
    height: 50px;
}

.msleeve{
    width: 220px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 20px double rgba(0, 0, 0, 0.75);
}

.mlabel{
    font-family: Oswald;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    margin: auto;
}

.mcap,
.msleeve{
    display: inline-block;
}

.fearless{
    background: #7BA6DE;
    box-shadow: 0 0 20px 0 #7BA6DE;
}

.txt{
    background: #7bcafd;
    box-shadow: 0 0 20px 0 #7bcafd;
}

.zb1{
    background: #63b2f2;
    box-shadow: 0 0 20px 0 #63b2f2;
}

.ateez{
    background: #2c531f;
    box-shadow: 0 0 20px 0 #2c531f;
}

.enhypen{
    background: #ff653f;
    box-shadow: 0 0 20px 0 #ff653f;
}

.skz{
    background: #00239b;
    box-shadow: 0 0 20px 0 #00239b;
}

.chungha{
    background: #d184ae;
    box-shadow: 0 0 20px 0 #d184ae;
}

.dream{
    background: #892b29;
    box-shadow: 0 0 20px 0 #892b29;
}

.idle{
    background: #580e8b;
    box-shadow: 0 0 20px 0 #580e8b;
}